@use "sass:map";
@import "./../../styles/variables";

section#features{
    padding-block: 60px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .imgContainer{
            min-height: 400px;
            margin-inline: -12px;
            background-image: url("./../../assets/imgs/features.jpg");
            background-size: cover;
            background-position: center;
        }
        .sectionContent{
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 30px;
                li{
                    display: flex;
                    gap: 5px;
                    span.icon{
                        flex: 0 0 70px;
                        font-size: 2.6rem;
                        display: flex;
                        justify-content: center;
                    }
                    .text{
                        h4{
                            font-size: 1.3rem;
                            font-family: "Raleway", sans-serif;
                        }
                        p{
                            font-size: .95rem;
                            line-height: 1.5; 
                            font-family: "Open Sans", sans-serif;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: map.get($mediaBreakPoints, "large")){
    section#features{
        .container{
            padding: 0;
            flex-direction: row;
            gap: 20px;
            .imgContainer{
                flex: 0 0 50%;
                margin: 0;
            }
            .sectionContent{
                flex: 1;
                ul{
                    margin: 0;
                }
            }
        }
    }
}