<section id="about" appSectionIndicator>
    <div class="container fadeUp opacityClear" appLoadingItem [rootMargin]="-100" [animationsClass]="['opacity', 'clearAnimation']">
        <div class="imgContainer fadeLeft opacityClear" appLoadingItem [rootMargin]="00" [animationsClass]="['opacity', 'clearAnimation']">
            <img src="assets/imgs/about.jpg" alt="img_about">
        </div>
        <div class="textContainer fadeRight opacityClear" appLoadingItem [rootMargin]="00" [animationsClass]="['opacity', 'clearAnimation']">
            <div class="headText">
                <h3 class="text-color-primary-gray">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            </div>
            <div class="text text-color-primary-gray" >
                <p class="italicText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua.</p>
                <ul>
                    <li>
                        <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </li>
                    <li>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    </li>
                    <li>
                        <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</p>
                    </li>
                </ul>
                <p> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            </div>
        </div>
    </div>
</section>