<section id="hero" appSectionIndicator>
    <div class="container fadeUp opacityClear" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
        <div class="heroTitleContainer fadeUp"  appLoadingItem [animationsClass]="['clearAnimation']">
            <h2 class="text-color-primary-white">Powerful Digital Solutions With Gp</h2>
            <h3 class="text-color-primary-white">We are team of talented digital marketers</h3>
        </div>
        <div class="heroBodyContainer zoomOut transition-delay-1" appLoadingItem [animationsClass]="['clearAnimation']">
            <article class="hover-border-color-primary-yellow border-color-forest-white">
                <span class="icon">
                    <fa-icon [icon]="icon.faStore" class="text-color-primary-yellow"></fa-icon>  
                </span>
                <a href="" class="title">
                    <span class="text-color-primary-white hover-text-color-primary-yellow">Lorem Ipsum</span>
                </a>
            </article>
            <article class="hover-border-color-primary-yellow border-color-forest-white">
                <span class="icon">
                    <fa-icon [icon]="icon.faChartSimple" class="text-color-primary-yellow"></fa-icon>
                </span>
                <a href="" class="title">
                    <span class="text-color-primary-white hover-text-color-primary-yellow">Dolor Sitema</span>
                </a>
            </article>
            <article class="hover-border-color-primary-yellow border-color-forest-white">
                <span class="icon">
                    <fa-icon [icon]="icon.faCalendarDays" class="text-color-primary-yellow"></fa-icon>
                </span>
                <a href="" class="title">
                    <span class="text-color-primary-white hover-text-color-primary-yellow">Sedare Perspiciatis</span>
                </a>
            </article>
            <article class="hover-border-color-primary-yellow border-color-forest-white">
                <span class="icon">
                    <fa-icon [icon]="icon.faPaintRoller" class="text-color-primary-yellow"></fa-icon>
                </span>
                <a href="" class="title">
                    <span class="text-color-primary-white hover-text-color-primary-yellow">Magni Dolores</span>
                </a>
            </article>
            <article class="hover-border-color-primary-yellow border-color-forest-white">
                <span class="icon">
                    <fa-icon [icon]="icon.faCoins" class="text-color-primary-yellow"></fa-icon>
                </span>
                <a href="" class="title">
                    <span class="text-color-primary-white hover-text-color-primary-yellow">Nemos Enimade</span>
                </a>
            </article>
        </div>
    </div>
</section>