<section id="services" appSectionIndicator>
    <div class="container fadeUp opacityClear" appLoadingItem [rootMargin]="-100" [animationsClass]="['opacity', 'clearAnimation']">
        <div class="sectionTitleContainer">
            <h3 class="text-color-primary-light-gray">services</h3>
            <p>check our services</p>
        </div>
        <div class="sectionBodyContainer">
            <article class="zoomOut opacityClear transition-delay-1" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
                <div class="articleContainer border-color-secondery-white ">
                    <div class="iconContainer bg-color-primary-yellow">
                        <fa-icon [icon]="icon.faBasketball"></fa-icon>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Lorem Ipsum</h4>
                        <p class="text-color-primary-gray">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
            </article>
            <article class="zoomOut opacityClear transition-delay-2" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
                <div class="articleContainer border-color-secondery-white ">
                    <div class="iconContainer bg-color-primary-yellow">
                        <fa-icon [icon]="icon.faFileLines"></fa-icon>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Sed ut perspiciatis</h4>
                        <p class="text-color-primary-gray">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>
            </article>
            <article class="zoomOut opacityClear transition-delay-3" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
                <div class="articleContainer border-color-secondery-white ">
                    <div class="iconContainer bg-color-primary-yellow">
                        <fa-icon [icon]="icon.faGaugeSimpleHigh"></fa-icon>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Magni Dolores</h4>
                        <p class="text-color-primary-gray">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                    </div>
                </div>
            </article>
            <article class="zoomOut opacityClear transition-delay-1" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
                <div class="articleContainer border-color-secondery-white ">
                    <div class="iconContainer bg-color-primary-yellow">
                        <fa-icon [icon]="icon.faEarthAmericas"></fa-icon>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Nemo Enim</h4>
                        <p class="text-color-primary-gray">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>
            </article>
            <article class="zoomOut opacityClear transition-delay-2" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
                <div class="articleContainer border-color-secondery-white ">
                    <div class="iconContainer bg-color-primary-yellow">
                        <fa-icon [icon]="icon.faDesktop"></fa-icon>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Dele cardo</h4>
                        <p class="text-color-primary-gray">Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                    </div>
                </div>
            </article>
            <article class="zoomOut opacityClear transition-delay-3" appLoadingItem [animationsClass]="['opacity', 'clearAnimation']">
                <div class="articleContainer border-color-secondery-white ">
                    <div class="iconContainer bg-color-primary-yellow">
                        <fa-icon [icon]="icon.faArchway"></fa-icon>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Divera don</h4>
                        <p class="text-color-primary-gray">Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>