@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url("./../assets/fonts/fontawesome-webfont.eot");
    src: url("./../assets/fonts/fontawesome-webfont.eot") format("embedded-opentype"), 
        url("./../assets/fonts/fontawesome-webfont.woff2") format("woff2"), 
        url("./../assets/fonts/fontawesome-webfont.woff") format("woff"), 
        url("./../assets/fonts/fontawesome-webfont.ttf") format("truetype"),
    }