<section id="team" appSectionIndicator>
    <div class="container fadeUp opacityClear" appLoadingItem [animationsClass]="['clearAnimation', 'opacity']">
        <div class="sectionTitleContainer">
            <h3 class="text-color-primary-light-gray">team</h3>
            <p>check our team</p>
        </div>
        <div class="sectionBodyContainer">
            <article class="fadeUp opacityClear transition-delay-1" appLoadingItem [animationsClass]="['clearAnimation', 'opacity']">
                <div class="articleContainer">
                    <div class="imgContainer">
                        <img src="assets/imgs/team/team-1.jpg" alt="team_img">
                        <div class="socialMediaContainer">
                            <ul>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faTwitter"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faFacebook"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faInstagram"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faLinkedin"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Walter White</h4>
                        <span class="text-color-primary-light-gray">Chief Executive Officer</span>
                    </div>
                </div>
            </article>
            <article class="fadeUp opacityClear transition-delay-2" appLoadingItem [animationsClass]="['clearAnimation', 'opacity']">
                <div class="articleContainer">
                    <div class="imgContainer">
                        <img src="assets/imgs/team/team-2.jpg" alt="team_img">
                        <div class="socialMediaContainer">
                            <ul>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faTwitter"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faFacebook"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faInstagram"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faLinkedin"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Sarah Jhonson</h4>
                        <span class="text-color-primary-light-gray">Product Manager</span>
                    </div>
                </div>
            </article>
            <article class="fadeUp opacityClear transition-delay-3" appLoadingItem [animationsClass]="['clearAnimation', 'opacity']">
                <div class="articleContainer">
                    <div class="imgContainer">
                        <img src="assets/imgs/team/team-3.jpg" alt="team_img">
                        <div class="socialMediaContainer">
                            <ul>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faTwitter"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faFacebook"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faInstagram"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faLinkedin"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">William Anderson</h4>
                        <span class="text-color-primary-light-gray">CTO</span>
                    </div>
                </div>
            </article>
            <article class="fadeUp opacityClear transition-delay-4" appLoadingItem [animationsClass]="['clearAnimation', 'opacity']">
                <div class="articleContainer">
                    <div class="imgContainer">
                        <img src="assets/imgs/team/team-4.jpg" alt="team_img">
                        <div class="socialMediaContainer">
                            <ul>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faTwitter"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faFacebook"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faInstagram"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="bg-color-transparent-white hover-bg-color-primary-yellow text-color-primary-gray hover-text-color-primary-black">
                                        <span class="icon">
                                            <fa-icon [icon]="icon.faLinkedin"></fa-icon>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textContainer">
                        <h4 class="text-color-primary-black">Amanda Jepson</h4>
                        <span class="text-color-primary-light-gray">Accountant</span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>